@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

html {
    font-family: Roboto, arial;
    font-size: 16px;
    background-color: white;
    color: #797979;
}

body {
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 1%;
}

h1, h2, h3, h4, h5, h6 {
    color: #05364d;
}

/* navigation bar */

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.navigation {
    width: 50%;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    
}

.logo {
    width: 100px;
}

.navigation a {
    text-decoration: none;
    color: #797979;
    font-size: 1rem;
    font-weight: 500;
}

/* intro section */
.home {
    display: flex;
    justify-content: space-between;
    padding-top: 15%;
    margin-bottom: 15%;
    align-content: center;
    height: 100%;
}

div .small-screen {
    display: none;
}

.profile-photo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.profile-photo img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    min-width: 235px;
}

.intro {
   width: 45%;
}

.greeting {
    letter-spacing: 0.2rem;
}

h1 {
    text-transform: uppercase;
    font-size: 60px;
}

.slogan {
    font-size: 2rem;
    line-height: 1.4;
    text-align: left;
}

.li-intro {
    color: inherit;
}

.fa-github {
    color: black;
    margin-left: 10px;
}

input {
    margin-top: 20px;
    height: 40px;
    font-size: 90%;
    background-color: #05364d;
    opacity: 0.8;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

a .button-intro {
    padding-left: 15px;
    padding-right: 15px;
}

input:hover {
    background-image: linear-gradient(90deg, #00C0FF 0%, #0095ff 49%, #4f7afc 60%, #00C0FF 100%);
    animation: slidebg 5s linear infinite;
}

@keyframes slidebg {
    to {
      background-position:20vw;
    }
}

input:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

/* About me Section */

.about-me p {
    line-height: 1.4;
    text-align: justify;
}

#movie, #serie, #book {
    display: inline-block;
    font-weight: 600;
    margin-left: 10px;
    font-size: 1.2rem;
    justify-content: center;
    align-self: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

span {
    font-size: 0.8rem;
    font-weight: 500;
}

.titles-generator {
    width: 100px;
    height: 30px;
    justify-content: center;
    
}

.titles-generator {
    margin-top: 10px !important;
    margin-bottom: 10px;

}

.titles {
    display: flex;
}

/* Projects Section */

.project-title h3 {
    display: inline;
    font-weight: 500;
    font-size: 1.3rem;
}

h2 {
    font-size: 2.5rem;
}

.project-title {
    margin-bottom: 20px;
}

.summary-project {
    display: flex;
}

.summary-text {
    width: 50%;
}

.project-img {
    width: 250px;
}

.project-img-2 {
    width: 325px;
}

/* Skills, Contacts and Footer Section */

.fa-brands, .fa-solid, fa-envelope, .contact {
    display: inline-block;
    margin-right: 15px;
    color: #05364d;
}

.smaller-icons {
    display: none;
}

i .fa-solid {
    display: inline-block;
}

section, footer {
    padding-top: 4%;
}

.copy {
    font-size: 0.9rem;
}

/* Media for max 900px and for max 600px */ 

@media only screen and (max-width: 900px) {
    body {
        margin-right: 5%;
        margin-left: 5%; 
    }
    
    .logo {
        width: 70px;
    }

    .navigation {
        flex-grow: 0.4;
    }

    .profile-photo img {
        width: 70%;
        border-radius: 50%;
        height: 250px;
        align-self: center;
    }

    h1 {
        font-size: 50px;
    }

    .slogan {
        font-size: 1.5rem;
    }

}

@media only screen and (max-width: 600px) {
    .navigation {
        flex-grow: 1;
        height: 10px;
        flex-wrap: wrap;
    }

    .navigation a {
        font-size: 0.8rem;
        margin-left: 5px;
    }

    .logo {
        width: 50px;
    }

    .name-photo {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .profile-photo img {
        width: 100%;
        border-radius: 50%;
    }

    .large-screen {
        display: none;
    }

    div .small-screen {
        display: flex;
        justify-content: center;

    }

    .small-screen img {
        display: inline-block;
    }

    .intro {
        width: 100%;
    }
    
    .greeting {
        font-size: 0.7rem;
    }

    h1 {
        font-size: 45px;
        align-self: center;
    }

    h2 {
        font-size: 1.6rem !important;
    }

    p {
        font-size: 0.9rem;
    }

    .slogan {
        font-size: 1.3rem;
    }

    .titles-generator {
        font-size: 0.7rem !important;
        width: 75px !important;
    }

    #movie, #serie, #book {
        font-size: 0.9rem !important;
    }

    h3 {
        font-size: 1rem !important;
    }

    .summary-project {
        flex-wrap: wrap;
    }

    .summary-text {
        width: 100%;
    }

    .smaller-icons {
        display: inline !important;
    }

    .larger-icons {
        display: none;
    }

}